{% extends "base.html" %}
{% load bootstrap_toolkit %}
{% block content %}

  <h2 align="center">Registration</h2>

  <form class="form-horizontal" role="form" action="/core/register/basic" method="post" id="user_details">
    {% csrf_token %}
      <h3 align="center">Step 1</h3>
      <div class="form-group">
           <div class="col-sm-9 col-sm-offset-3">

    {{form|as_bootstrap}}

</div>
<div class="col-sm-9 col-sm-offset-6">
          <input type="submit" value="Save and continue" class="btn btn-primary next-step"></input>
               </div>
               </div>

  </form>

{% endblock %}