{% extends "base.html" %}
{% load bootstrap_toolkit %}
{% block content %}

  <h2 align="center">Event Create</h2>

  <form class="form-horizontal" role="form" action="/core/register/eventCreate" method="post">
    {% csrf_token %}
      <div class="form-group">
           <div class="col-sm-9 col-sm-offset-3">

    {{form|as_bootstrap}}
               <div class="control-group required">
                <label class="control-label" for="id_country">Country</label>
                <div class="controls">
                    <input id="id_country" maxlength="140" name="country" type="text" required />
                </div>
                </div>
               <div class="control-group required">
                <label class="control-label" for="id_state">State</label>
                <div class="controls">
                    <input id="id_state" maxlength="140" name="state" type="text" required />
                </div>
                </div>
               <div class="control-group required">
                <label class="control-label" for="id_city">City</label>
                <div class="controls">
                    <input id="id_city" maxlength="140" name="city" type="text" required />
                </div>
                </div>
               </div>
          <div class="col-sm-9 col-sm-offset-4">
  <input style="margin-top:25px;" type="submit" value="Create Event" class="btn btn-primary btn-lg"/>
  </div>
  </div>
  </form>

{% endblock %}