{% extends "base.html" %}
{% load static %}
{% load comments %}
{% block content %}
    <h1 align="center" style="font-style: italic;font-weight: 900;color:darkslategrey" xmlns="http://www.w3.org/1999/html">{{ event.name }} </h1>
    <div ng-controller="ratingControl" class="container">
        <div class="row lead">
            <ul>
                {% if users %}
                    {% for user in users %}
                        {%  if user.username != rem_username %}
                        <div class="col-sm-8">
                            <li><p><b>{{ user.first_name }},{{ user.last_name }}</b></p>
                                <div id="stars{{ user.id }}" class="starrr" ng-model="rating" ng-click="ratingValue('{{ user.id }}')"></div>
                            </li></div>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <div class="jumbotron"><h2 align="center"> There are no players in this event!!</h2></div>
                {% endif %}
            </ul>
        </div>
    </div>
    <div class="container" class="jumbotron">
        <b>Comments:</b></br>
    <table class="table-bordered">
        {% get_comment_list for event as comment_list %}
        {% for comment in comment_list %}
            <tr>
                <td>{{ comment.user_name }}</td>
                <td>{{ comment.comment }} </td>
            </tr>
        {% endfor %}
    </table>
    </div>
    </br><hr>

    <div class="container" class="jumbotron">
    <b>Comment Here:</b></br>
{#    {% render_comment_form for evernt %}#}
    {%  get_comment_form for event as form %}
    <table>
        <form action="{% comment_form_target %}" method="post">
            {% csrf_token %}
            <div class="jumbotron">
            {{ form.comment }}
            </div>
            {{ form.honeypot }}
            {{ form.content_type }}
            {{ form.object_pk }}
            {{ form.timestamp }}
            {{ form.security_hash }}
            <input type="hidden" name="next" value="{% url 'eventPlayerView' event.id %}" /></br>
            <input type="submit" value="Add comment" id="id_submit"  class="btn btn-primary btn-lg" />
        </form>
    </table>
    </div>
{% endblock %}
