{% extends "base.html" %}
{% load static %}
{% block content %}
<h1 align="center">Approve/Reject Requests</h1>
<div ng-controller="approveControl" class="container">
<div class="row">
{% for user in users %}
      {% for eventPlayer in eventPlayers %}
          <div class="col-sm-8">
          {% if eventPlayer.players_id == user.id %}
              <li>Event Name: {{ eventPlayer.eventName }}</li>
                    <p><b>Player Name: {{ user.first_name }}</b></p>
               <button id="approve{{ eventPlayer.id }}" ng-click=submit('{{ eventPlayer.id }}',"approve") class="btn btn-primary btn-success">Accept</button>
              <button id="reject{{ eventPlayer.id }}" ng-click=submit('{{ eventPlayer.id }}',"reject") class="btn btn-primary btn-danger">Reject</button>
          {% endif %}
          </div>
  {% endfor %}
{% endfor %}
</div>
</div>


{% endblock %}