{% extends "base.html" %}
{% load bootstrap_toolkit %}
{% block content %}

  <h2 align="center">Registration</h2>

  <form class="form-horizontal" role="form" action="/core/register/sportsInterest" method="post" id="sports_interest">
    {% csrf_token %}

      <h3>Step 3</h3>
      <div class="form-group">
           <div class="col-sm-9 col-sm-offset-3">

    {{form|as_bootstrap}}
</div>
<div class="col-sm-9 col-sm-offset-6">
          <input type="submit" value="Register" class="btn btn-primary btn-lg next-step">
               </div>
               </div>


  </form>

{% endblock %}