{% extends "base.html" %}
{% load bootstrap_toolkit %}
{% block content %}

  <h2 align="center">Registration</h2>

  <form class="form-horizontal" role="form" action="/core/register/userInfo" method="post" id="basic_info">
    {% csrf_token %}
      <h3>Step 2</h3>
      <div class="form-group">
           <div class="col-sm-9 col-sm-offset-3">

    {{form|as_bootstrap}}
               <div class="control-group required">
                <label class="control-label" for="id_country">Country</label>
                <div class="controls">
                    <input id="id_country" maxlength="140" name="country" type="text" required />
                </div>
                </div>
               <div class="control-group required">
                <label class="control-label" for="id_state">State</label>
                <div class="controls">
                    <input id="id_state" maxlength="140" name="state" type="text" required />
                </div>
                </div>
               <div class="control-group required">
                <label class="control-label" for="id_city">City</label>
                <div class="controls">
                    <input id="id_city" maxlength="140" name="city" type="text" required />
                </div>
                </div>

           </div>
<div class="col-sm-9 col-sm-offset-6">
          <input type="submit" value="Save and continue" class="btn btn-primary next-step"/>
               </div>
               </div>
          </div>


  </form>

{% endblock %}