{% extends "base.html" %}
{% block content %}
    <div ng-controller="eventControl" class="container">
     <div class="row">
        <div class="col-xs-12 col-sm-9">
          <p class="pull-right visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Click to Expand</button>
          </p>
            <div class="jumbotron">
            <h1>Hello, {{ request.session.fullname }}!</h1>
      <p>Coming together is the beginning. Staying together is progress. Working together is success</p>
          </div>
          <div class="row">
            <div class="col-xs-6 col-lg-4" ng-repeat="event in events">
              <h2>{[{ event.name }]}</h2>
              <p>{[{ event.desc }]}</p>
			  <p><a class="btn btn-info" data-toggle="modal" data-target="#myModal" role="button"> <span class="glyphicon glyphicon-new-window"></span> View Event &raquo;</a></p>
			  <!-- Modal -->
				<div class="modal fade text-center" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					<div class="modal-dialog modal-lg">
					<div class="modal-content">
					<div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                 <h4 class="modal-title">{[{ event.name }]}</h4>
            </div>			<!-- /modal-header -->
            <div class="modal-body" style="height:700px">
            <p>{[{ event.desc }]}</p>
                <p>Event owner: {[{ event.owner.first_name }]}</p>
                <p>Sport: {[{ event.name }]}</p>
                <p>Number of Players: {[{ event.numberOfPlayers }]}</p>
                <p>Event date:{[{ event.startDate }]}</p>
                <p>Event Location: {[{ event.location.country }]}</p>
                <p>{[{ event.location.state }]}</p>
                <p>{[{ event.location.region }]}</p>
            </div>			<!-- /modal-body -->
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
            </div>
				</div> <!-- /.modal-content -->
    </div> <!-- /.modal-dialog -->
</div> <!-- /.modal -->

            </div><!--/.col-xs-6.col-lg-4-->
          </div>
              </div>

      </div>
    </div>
{% endblock %}

