{% extends "base.html" %}
{% block content %}
    <div ng-controller="eventControl" class="container">
	 <div class="row">

        <div class="col-xs-12 col-sm-9">
          <p class="pull-right visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Click to Expand</button>
          </p>
          <div class="jumbotron">
            <h1>Hello, Sampath!</h1>
            <p>Born to play !!</p>
          </div>
          <div ng-repeat ="event in events">
                  {[{ event.name }]}
                  {[{ event.sport }]}
                  {[{ event.owner }]}
              </div>
        </div>
      </div><!--/row-->
</div>
      <hr>

{% endblock %}
